---
layout: page
---
<head>
    <!-- other head elements -->
    <link rel="stylesheet" href="{{ "/assets/css/sidebar.css" | relative_url }}">
</head>

<div id="sidebar-index"></div>

{{ content }}

<!-- _layouts/page.html -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script lang="JavaScript">
$(document).ready(function() {
  // Find all the headings in the content
  var headings = $('.page-content h2, .page-content h3, .page-content h4, .page-content h5, .page-content h6');


  // Create a link for each heading
  headings.each(function(i, heading) {
    var id = $(heading).attr('id');
    var text = $(heading).text();
    var link = $('<a>').attr('href', '#' + id).text(text);

    // Add the link to the sidebar index
    $('#sidebar-index').append(link);
  });
});
</script>